*.tgz

node_modules/
**/node_modules/
**/dist/
**/coverage/
core/node_modules/
core/dist/
core/coverage/
cli/node_modules/
cli/dist/
cli/coverage/
webui/.next/
webui/out/
webui/build/
webui/coverage/
site/
