node_modules/
**/node_modules/
**/dist/
**/coverage/
core/node_modules/
core/dist/
core/coverage/
cli/node_modules/
cli/dist/
cli/coverage/
nextjs/.next/
nextjs/out/
nextjs/build/
nextjs/coverage/
site/
